<% if Deck.last.present? %>
  <h1>Cards left: <%= Deck.last.cards_left %></h1>
  <h2 class="text-2xl font-bold">Drawn</h2>
  <div class="flex flex-wrap gap-2">
    <% Deck.last.cards.drawn.each do |card| %>
      <div>
        <%= image_tag card.image, class: "" %>
      </div>
    <% end %>
  </div>
  <h2 class="text-2xl font-bold">Left</h2>
  <div class="flex flex-wrap gap-2">
    <% Deck.last.cards.left.each do |card| %>
      <div>
        <%= image_tag card.image, class: "" %>
      </div>
    <% end %>
  </div>
<% else %>
  <h1>No deck found</h1>
<% end %>
